body{
    margin: 0;
    padding: 0;
    background-color: #aef6c7;
}


.nombre{
    width: 100%;
    height: 300px;
    background-color: #3e6259;
    transform:skewY(-5deg);
}
.nombre #contenido{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    
}

.nombre #contenido #p-1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    font-size: 65px;
    transform:skewY(5deg);
    margin-bottom: 0;
}
.nombre #contenido #p-2{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    transform:skewY(5deg);
    margin-top: 0;
}
/**podria haber sido una opcion 
.nombre .img{
    position: absolute;
    top: 18%;
    right: 5%;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    transform: skewY(5deg);
    
}
*/
img{
    position: absolute;
    top: 18%;
    right: 22%;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    transform: skewY(5deg);
}

.secciones{
    width: 90%;
    height: auto;
    background-color: #5b8266;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
}

.secciones .titulo{
    color: white;
    font-size: xx-large;
    font-family:'Libre Baskerville', serif ;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white dotted;
}

.secciones .tit{
    color: black;
    font-family:'Libre Baskerville', serif ;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.secciones .datos{
    color:white;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    
}
.secciones .tit2{
    color: black;
    font-family:'Libre Baskerville', serif ;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-top: 20px;
    margin-right: 20px;
}
.secciones .datos2{
    color:white;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    margin-top: 20px;
    
    }

#fuente{
    font-style: italic;
}